.block {
  aspect-ratio : 1;
  border-style : solid;
  border-width : 1px;
  margin : 0%;
  display : inline-block;
}

.xl {
  width : 120px;
}

.l {
  width : 60px;
}

.m {
  width : 40px;
}

.s {
  width : 30px;
}

.wall {
  background-color : red;
  border-color : red;
}

.snake {
  background-color : black;
  border-color : black;
}

.empty {
  background-color : white;
  border-color : grey;
}

.food {
  background-color : green;
  border-color : green;
}

